### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
# Use the length function of list of ID's "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())

# Create the data frame to run the player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#number of unique items, average price, etc. 
unique_items = len(purchase_data["Item Name"].unique())
average_price = (purchase_data["Price"].mean())
purchase_count = (purchase_data["Purchase ID"].count())
total_rev = (purchase_data["Price"].sum())

#create new data frame 
purchasing_analysis_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price":[average_price],
                                      "Total Purchase Count": [purchase_count], 
                                      "Total Revenue": [total_rev]})

#display summary data frame
purchasing_analysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [39]:
#group by gender
gender_count = purchase_data[["Gender", "SN"]]
gender_count = gender_count.drop_duplicates()
final_count = gender_count["Gender"].value_counts()

#list the values
percentage_players = final_count / total_players * 100

#create a new dataframe 
gender_demographics = pd.DataFrame({ "Percentage of Players": percentage_players,"Total Count": final_count
})
gender_demographics

                       Percentage of Players  Total Count
Male                               84.027778          484
Female                             14.062500           81
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#count the total purchases by gender 
purchase_count = gender_count["Purchase ID"].count()

#calculates average prices, purchase totals, etc.
average_purchase_price = gender_count["Price"].mean() 
average_purchase_total = gender_count["Price"].sum()
average_purchase_per_person = average_purchase_total/total_count_gender

#create data frame with values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Average Purchase Value":average_purchase_total,
                                    "Avg Purchase Total per Person": average_purchase_per_person})

#provide index"Gender"
gender_demographics.index.name = "Gender"

#format
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

KeyError: 'Purchase ID'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
#create bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age demographics
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_groups =purchase_data.groupby("Age Demographics")

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
#counts purchases by age group and calculatess averages 
age_grouped = purchase_data.groupby("Age")
age_grouped = purchase_data.groupby("Age")
age_purchase_count = age_grouped["Purchase ID"].count()
average_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
total_count_age = age_grouped["SN"].nunique()
average_purchase_per_person = total_purchase_value/total_count_age


#create the dataframe
age_demographics = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": average_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": average_purchase_per_person})

#clean formatting
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
#define top spenders 
top_spenders = purchase_data["Item ID"].groupby(purchase_data["SN"]).count()

#create a dataframe for top spenders 
top_spenders= pd.DataFrame(data=top_spenders)
top_spenders.columns = ["Purchase Count"]

top_spenders["Average Purchase Price"] = round(purchase_data['Price'].groupby(purchase_data['SN']).mean(),2)
top_spenders["Total Purchase Value"] = purchase_data['Price'].groupby(purchase_data['SN']).sum()


top_spenders.sort_values(by=["Total Purchase Value"], ascending=False, inplace=True)

top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
#define items and set the index 
most_items = purchase_data.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
most_items.columns = ['Purchase Count', 'Total Purchase Value']
most_items.reset_index(inplace=True)
most_items.set_index(['Item ID','Item Name'] ,inplace=True)
most_items = most_items[['Purchase Count', 'Price', 'Total Purchase Value']]

#organizes the purchase count column 
popular_items = most_items.sort_values(by='Purchase Count', ascending=False)

#clean formatting 
popular_items['Price'] = popular_items['Price'].map('${:,.2f}'.format)
popular_items['Total Purchase Value'] = popular_items['Total Purchase Value'].map('${:,.2f}'.format)
popular_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
82,Nirvana,9,$4.90,$44.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80